#app {
  min-width: 400px;
  min-height: 70px;
}

#info > div{
  text-align: center;
}

#info > img {
  height: 20px;
  float:left;
}

.ClickValue-link-title {
  color:black;
  font-size: 16px;
  font-weight: bold;
  text-decoration: underline;
}

.ClickValue-link-title:hover {
  cursor: pointer;

}
#info > .infoText {
    visibility: hidden;
    width: 350px;
    background-color: #edeeef;
    color: #009fe3;
    text-align: center;
    border-radius: 6px;
    padding: 15px 15px;
    float: left;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

#info > img:hover + .infoText {
    visibility: visible;
}

.VWONotFound {
  text-align: center;
  border-left: 5px solid red;
}

.mainInformation > .header > h1 {
  margin-top: 5px;
}

.mainInformation {
  text-align: center;
  border-left: 3px solid green;
}

.accountID, userID {
  float left;
}

.experiments > div[class^='exp'] {
  padding: 10px;
  margin-bottom: 10px;
  border-left:3px solid #009fe3;
  border-width: 80%;
  background-color: #edeeef;
  font-weight: bold;
}

.experiments > div[class^='exp']:hover {
  background-color: #f2f2f2
}

.experiments p {
  margin-top: 0px;
  margin-bottom: 5px;
}

.experiments .variation_select{
  margin-top: 5px;
  cursor: pointer;
  padding: 3px;
}

.experiments select {
  width: 80%;
}

/*.experiments.scroll {
  max-height: 300px;
  overflow-y: scroll;
}*/

.no-experiments {
  padding: 10px;
  margin-bottom: 10px;
  border-left:3px solid red;
  border-width: 80%;
  background-color: #edeeef;
  color:red;
}

.control-switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 20px;
}

.control-switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 10px;
  width: 10px;
  left: 5px;
  bottom: 5px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(10px);
  -ms-transform: translateX(10px);
  transform: translateX(10px);
}

.slider.round:before {
  border-radius: 50%;
}

.resetToControl {
  text-align: center;
  margin-bottom: 5px;
  vertical-align: middle;
}

.resetToControl > span {
  font-size: 15px;
  font-weight: bold;
  padding-right: 3px;
}

.resetToControl label {
  vertical-align: bottom;
}

#events {
  margin-top:.5em;
}
#events > p {
  width:90%;
  font-weight: bold;
  display: inline;
}

#events > img {
  float: right;
  margin-right: 25px;
  display: inline;
  height: 20px;
}

#events > img:hover {
  /*content: url('img/garbagebinhover.png');*/
  cursor: pointer;
}

#eventsBox {
  height: 100px;
  /*border: 1px solid black;*/
  overflow-y: scroll;
  margin-top: 10px;
}

#eventsBox > div.infoElem {
  border-left: 3px solid #009fe3;
  padding: .5em;
  margin-bottom: .5em;
  cursor: pointer;
  background-color: #edeeef;
}

#eventsBox > div.hiddenInfoElem {
  border: 1px solid #009fe3;
  margin-bottom: .5em;
  cursor: pointer;
  background-color: #edeeef;
  padding-bottom: 0.5em;
}

#eventsBox > div.infoElem:hover {
  background-color: #f2f2f2;
}

#eventsBox > div.hiddenInfoElem:hover {
  background-color: #f2f2f2;
}

#eventsBox > div.hiddenInfoElem > p {
  margin: 0;
  margin-left: 0.5em;
  padding-top: 0.5em;
}
