#app {
  min-width: 400px;
}

.mainInformation {
  text-align: center;
  border-left: 5px solid #009fe3
}

.experiments  {
  overflow-y: scroll; height:350px;
}

.experiments > div[class^='exp'] {
  padding: 10px;
  margin-bottom: 10px;
  border-left:3px solid green;
  border-width: 80%;
  background-color: #edeeef;
  font-weight: bold;
}

.experiments > div[class^='exp']:hover {
  background-color: #f2f2f2
}

.experiments .variation_select{
  margin-top: 5px;
  cursor: pointer;
  padding: 3px;
}

.experiments select {
  width: 60%;
}

.no-experiments {
  padding: 10px;
  margin-bottom: 10px;
  border-left:3px solid red;
  border-width: 80%;
  background-color: #edeeef;
  color:red;
}
