#app {
  min-width: 400px;
  min-height: 70px;
}

#info > img {
  height: 20px;
}

#info > .infoText {
    visibility: hidden;
    width: 350px;
    background-color: #edeeef;
    color: #009fe3;
    text-align: center;
    border-radius: 6px;
    padding: 15px 15px;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

#info > img:hover + .infoText {
    visibility: visible;
}

.VWONotFound {
  text-align: center;
  border-left: 5px solid red;
}

.mainInformation > .header > h1 {
  margin-top: 5px;
}

.mainInformation {
  text-align: center;
  border-left: 5px solid #009fe3
}

.experiments > div[class^='exp'] {
  padding: 10px;
  margin-bottom: 10px;
  border-left:3px solid green;
  border-width: 80%;
  background-color: #edeeef;
  font-weight: bold;
}

.experiments > div[class^='exp']:hover {
  background-color: #f2f2f2
}

.experiments p {
  margin-top: 0px;
  margin-bottom: 5px;
}

.experiments .variation_select{
  margin-top: 5px;
  cursor: pointer;
  padding: 3px;
}

.experiments select {
  width: 80%;
}

/*.experiments.scroll {
  max-height: 300px;
  overflow-y: scroll;
}*/

.no-experiments {
  padding: 10px;
  margin-bottom: 10px;
  border-left:3px solid red;
  border-width: 80%;
  background-color: #edeeef;
  color:red;
}

.control-switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 20px;
}

.control-switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 10px;
  width: 10px;
  left: 5px;
  bottom: 5px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(10px);
  -ms-transform: translateX(10px);
  transform: translateX(10px);
}

.slider.round:before {
  border-radius: 50%;
}

.resetToControl {
  text-align: center;
  margin-bottom: 5px;
  vertical-align: middle;
}

.resetToControl > span {
  font-size: 15px;
  font-weight: bold;
  padding-right: 3px;
}

.resetToControl label {
  vertical-align: bottom;
}
